<section class="section-body" [style.background]="'url('+backgroundImage+')'">
    <div class="row">
        <div class="col-lg-9 weather-info p-4" >
            <div class="align-items-center d-flex jus justify-content-evenly w-100">
                <div class="d-flex">
                    <h1>{{temp_c}}</h1>
                    <img class="temp-img" src="https://img.icons8.com/external-flat-adri-ansyah/64/000000/external-user-home-screen-apps-flat-adri-ansyah-21.png"/>
                </div>
                <div class="mx-5">
                    <h2>{{city}}</h2>
                    <p>{{current_date}}</p>
                </div>
                <div class="weather-img mx-5 text-center">
                    <img src="{{forecast_img}}" alt="" srcset="">
                    <p>{{forecast}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 sidebar">
            <form #form="ngForm" (ngSubmit)="searchLocation(form)">
                <div class="d-flex p-3 justify-content-between">
                    <div class="input-container">
                        <input id="name" 
                        class="input" 
                        type="text" 
                        pattern=".+" 
                        required  
                        name="location"
                        #sku="ngModel"
                        [(ngModel)]="model.location" />
                        <label class="label" for="name">Another Location</label>
                    </div>
                    <div>
                        <button type="submit" class="">
                            <i class='bx bx-search-alt-2'></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="history" *ngIf="history">
                <div class=" text-center">
                    <p class="search">Search History</p>
                </div>
                <!-- <div class="mt-2 mb-2 text-danger">
                    <p>{{message}}</p>
                </div> -->
                <ul *ngFor="let item of history" class="align-items-baseline d-flex justify-content-between history-list mb-sm-3">
                    <li class=""  (click)="searchFromHistory(item)">{{item.toUpperCase()}}</li>
                    <i class='bx bx-trash bx-sm' (click)="deleteHistory(item)"></i>
                </ul>
            </div>

            <div>
                <div class="divider"></div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div class="text-center">
                    <img class="sunrise-icon" src="https://img.icons8.com/clouds/64/000000/sunrise.png"/>
                    <p class="weather-conditon">Sunrise</p>
                    <p class="sunrise">{{dailySunrise}}</p>
                </div>
                <div class="text-center">
                    <img class="sunset-icon" src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-sunset-summer-season-flaticons-flat-flat-icons.png"/>
                    <p class="weather-conditon">Sunset</p>
                    <p class="sunset">{{dailySunset}}</p>
                </div>
            </div>
            <div class="weather-details d-flex" >
                <div *ngFor="let item of hourlyForcast" class="mx-4 text-center">
                    <p class="weather-time">{{item.time.slice(11)}}</p>
                    <img src="{{item.condition.icon}}" alt="" srcset="">
                    <p class="weather-conditon">{{item.condition.text}}</p>
                </div>
            </div>
        </div>
    </div>
</section>